.navbar inverse {
    margin-bottom: 0;
    border-radius: 0;
    height: 25px;
}

.jumbotron {
    background: radial-gradient(chocolate, firebrick);
    text-align: center;
}

.carousel {
    /*background:radial-gradient(chocolate, firebrick);*/
    margin-top: 10px;
}

.carousel-control {
    background-image: none !important;
    filter: none !important;
    opacity: 0.5;
}

#index .container-fluid.text-center {
    background-color: burlywood;
    font-weight: bold;
    font-size: 15px;
    font-family: bold;
    ;
}

div.container-fluid.message {
    background: rgba(255, 227, 194, 1);
    /* Old Browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 227, 194, 1) 0%, rgba(255, 227, 194, 0.86) 55%, rgba(210, 102, 30, 0.75) 99%, rgba(210, 102, 30, 0.75) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 227, 194, 1)), color-stop(55%, rgba(255, 227, 194, 0.86)), color-stop(99%, rgba(210, 102, 30, 0.75)), color-stop(100%, rgba(210, 102, 30, 0.75)));
    /* Chrome, Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 227, 194, 1) 0%, rgba(255, 227, 194, 0.86) 55%, rgba(210, 102, 30, 0.75) 99%, rgba(210, 102, 30, 0.75) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 227, 194, 1) 0%, rgba(255, 227, 194, 0.86) 55%, rgba(210, 102, 30, 0.75) 99%, rgba(210, 102, 30, 0.75) 100%);
    /* Opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 227, 194, 1) 0%, rgba(255, 227, 194, 0.86) 55%, rgba(210, 102, 30, 0.75) 99%, rgba(210, 102, 30, 0.75) 100%);
    /* IE 10+ */
    background: radial-gradient(ellipse at center, rgba(255, 227, 194, 1) 0%, rgba(255, 227, 194, 0.86) 55%, rgba(210, 102, 30, 0.75) 99%, rgba(210, 102, 30, 0.75) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffe3c2', endColorstr='#d2661e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    width: 95%;
    margin: 25px;
}

.carousel .item {
    max-height: 150px;
    min-height: 50px;
}

ul li ul {
    visibility: hidden;
    transition: all 0.5s ease;
    display: none;
}

body {
    /* 1280px by 960 px images work great! use this is to resize: https://www.photoresizer.com/ */
    background-size: 100% 100%;
    background-image: url(../img/CaliSunSet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    /* Allows the image to be resized with the window it's contained in. */
    /*background-size: cover;*/
}

.footer,
.push {
    height: 140px;
    background-blend-mode: color;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

h3 {
    font-size: 15px;
}

p {
    font-style: italic;
    font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
    background-blend-mode: darken;
}